@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@400..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');
:root {

    /*============ GSMAO ===========*/
    --colorFondo: #f3f3f3;
    /* --primario: #0d9c65;
    --primarioHover: #165f43;  */
    --primario: #061f51;
    --primarioHover: #194463;
    --btnsGenericos: #061f51;
    --btnsGenericosHover: #194463; 
    --identificativoCliente:#039b68;
    --identificativoClienteHover:#107755be;
    --identificativoClienteActive:#0d6648;;
    --iconosPrincipalesMenuLateralHitachi: var(--primario);
    --iconosSecundariosMenuLateralHitachi: var(--primarioHover);
    --colorFondoRightForm: #bff0ef6e;
  }


  /* MENU TOP */

  .menuTop {
  z-index: 1000;
  padding: 0;
  background-color: var(--identificativoCliente);
  display: flex !important;
  justify-content: center !important;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.671) !important;
  
}
.containerMenuTop {
  display: flex;
  justify-content: space-between;
  width: 97%;
  align-items: center;
}
.containerLogoHeader{
  flex-grow: 1;
  text-align: center;
}
  
.tituloMenuTop{
  text-decoration: none;
  font-family: 'Russo One', sans-serif;
  font-size: 38px;
  letter-spacing: 4px;
  color: white;
}

.containerDropDown{
  display: flex;
}
.dropdown-toggle-custom {
    color: white !important;
    text-decoration: none !important;
    font-size: 18px;
    padding: 15px 25px 15px 25px;
    font-weight: 700;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none;
    transition: all 0.5s ease;

}

.dropdown-toggle-custom:hover {
    color: #f0f0f0;
    background-color: var(--identificativoClienteHover);
    
}

.dropdown-toggle-custom.active {
    background-color: var(--identificativoClienteActive);
}

.dropdown-toggle-custom::after {
    display: none !important;

}
.btnCerrarSesion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background: none;
    border: none;
    border-radius: 0 !important;
    color: white !important;
    box-shadow: none !important;
    font-size: 18px;
    padding: 2px 20px 2px 20px;
    font-weight: 700;
}


#modalLogin .left-form h1{
  font-size: 70px;
}


@media only screen and (max-width: 1190px) {
  .left-form h1 {
    font-size: 90px;
    
}
}